{%extends "basedialog.html"%}
{%import "commonExecuteCallback.js" as commons%}
{%block title %}Predict Flight Delays with Apache Spark MLlib, FlightStats, and IBM Insights for Weather{%endblock%}

{%block body%}
  <style>
    .chart-wrapper {
      background: #fff;
      margin: 10px;
      padding: 10px;
    }
    .chart-wrapper .chart-title {
      border-bottom: 1px solid #152935;
      color: #152935;
      font-size: 1.25em;
      font-weight: 400;
      padding: 10px 0px 5px;
    }
    .chart-wrapper .chart-title .memo {
      color: #a6266e;
      float: right;
      font-size: 13px;
      line-height: 26px;
    }
    .chart-wrapper.flight-info .search {
      color: #a6266e;
      cursor: pointer;
      font-weight: 400;
    }
    .chart-wrapper.flight-info .search:hover {
      text-decoration: underline;
    }
    .chart-wrapper .chart-stage {
      overflow: hidden;
      position: relative;
      margin: 10px 0px 5px;
    }
    .chart-wrapper .chart-stage .form-title {
      margin: 10px 0;
    }
    .chart-wrapper .chart-notes,
    .chart-wrapper .flight-predict-message {
      color: #a6266e;
      font-size: initial;
    }
    .pixiedust-spinner {
      color: #fff;
      font-size: 24px;
      float: right;
    }
    .pixiedust .modal-header {
      background-color: #152935;
      color: #ffffff;
    }
    .pixiedust .modal-body {
      padding: 10px;
    }
    .pixiedust .modal-dialog .btn.focus,
    .pixiedust .modal-dialog .btn:focus {
      outline: none;
    }
    .pixiedust .modal-dialog .btn-cancel,
    .pixiedust .modal-dialog .btn-ok {
      display: none;
    }
    .pixiedust .modal-dialog .btn-back {
      background-color: #fff;
      border: 2px solid #082632;
      color: #082632;
      font-weight: 500;
      float: left;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-back:hover {
      background-color: #082632;
      border-color: #082632;
      color: #fff;
    }
    .pixiedust .modal-dialog .btn-next,
    .pixiedust .modal-dialog .btn-ok {
      background-color: #00b4a0;
      border: 2px solid #00b4a0;
      color: #fff;
      font-weight: 500;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-next:hover,
    .pixiedust .modal-dialog .btn-ok:hover {
      background-color: #fff;
      border: 2px solid #00b4a0;
      color: #00b4a0;
    }
    .pixiedust .modal-dialog .btn-restart {
      background-color: #a6266e;
      border: 2px solid #a6266e;
      color: #fff;
      font-weight: 500;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-restart:hover {
      background-color: #fff;
      border: 2px solid #a6266e;
      color: #a6266e;
    }
    .pixiedust .modal-dialog .btn-search {
      background-color: #fff;
      border: 1px solid #a6266e;
      color: #a6266e;
      padding: 0.625em 1.375em;
    }
    .pixiedust .modal-dialog .btn-search:hover {
      background-color: #a6266e;
      border-color: #a6266e;
      color: #fff;
      font-weight: 500;
    }
    .pixiedust .modal-footer {
      border-top: 0px;
      padding: 20px 30px;
    }
    .pixiedust .modal-dialog svg text {
      fill: black;
      font-size: 11px;
      font-weight: normal;
    }
    .modal-dialog-flightpredictform {
      width: 95% !important;
    }
    .modal-dialog-flightpredictdata {
      width: 95% !important;
    }
    .modal-dialog-flightpredictform .btn-restart {
      display: none;
    }
    .modal-dialog-flightpredictdata .btn-next {
      display: none;
    }
    .modal-header .note {
      color: lightgray;
      display: inline-block;
      float: right;
      font-size: 12px;
      padding: 4px 10px;
    }
    .pixiedust-formfield {
      padding: 10px;
    }
    .pixiedust-formfield .required {
      color: #a6266e;
    }
    .pixiedust-formfield label {
      font-size: 18px;
    }
    .pixiedust-formfield input,
    .pixiedust-formfield select {
      border: 1px solid #1d3649;
      font-size: 20px;
      font-weight: 300;
      margin: 0 0 20px;
      padding: 5px 10px;
    }
    .pixiedust-formfield input:focus,
    .pixiedust-formfield input.focus,
    .pixiedust-formfield select:focus,
    .pixiedust-formfield select.focus {
      border-color: #a6266e;
    }

    .tab-pane-flightpredictdata ul {
      list-style: outside none none;
      padding: 0px;
    }
    .tab-pane-flightpredictdata li {
      background-color: #f9f9f9;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      display: block;
      font-size: 1.125em;
      margin-bottom: 15px;
      padding: 0px;
    }
    .tab-pane-flightpredictdata li:hover {
      cursor: pointer;
    }
    .tab-pane-flightpredictdata li > div:first-child {
      border-left: 5px solid #f9f9f9;
      font-weight: 500;
      padding: 15px;
    }
    .tab-pane-flightpredictdata li.expanded > div:first-child,
    .tab-pane-flightpredictdata li:hover > div:first-child {
      background-color: #eeeeee;
      border-color: #a6266e;
      color: #a6266e;
    }
    #prediction-models,
    #weather-forecasts {
      height: calc(30vh + 30px);
    }
    #prediction-models .chart-stage,
    #weather-forecasts .chart-stage {
      height: calc(100% - 40px);
      overflow: auto;
    }
    .prediction-model-title > span:nth-child(2),
    .weather-forecast-title > span:nth-child(2) {
      float: right;
      font-weight: 300;
    }
    .prediction-model,
    .weather-forecast {
      display: none;
      line-height: 1.5em;
      padding: 10px;
    }
    .weather-forecast {
      padding-left: 20px;
    }
    .prediction-model span:first-child {
      line-height: 1.5em;
      padding: 10px;
    }
    .prediction-model span:nth-child(2) {
      color: #a6266e;
      float: right;
    }
    .airport-marker-info h3,
    .flight-path-info h3 {
      font-size: 20px;
      margin: 0;
      padding: 10px 0;
    }
    .airport-marker-info > div {
      font-size: 14px;
    }
    .airport-marker-info > div:last-child {
      padding: 10px 0;
    }
    .flight-path-info > div {
      padding: 2px 0;
    }
    .flight-path-info > div:nth-child(4) {
      padding-top: 6px;
    }
    .flight-path-info span:nth-child(2) {
      float: right;
      margin-left: 10px;
    }
    .flight-predict-message,
    .flight-predict-status-image {
      font-weight: 400;
      min-height: 50px;
      padding: 15px 0;
    }
    .flight-one {
      padding: 10px 80px 0 10px;
    }
    .flight-two {
      padding: 10px 10px 0 80px;
    }
  </style>
  <div class="tab-content container-fluid" >
    <div class="tab-pane tab-pane-flightpredictdata row">
      <div class="col-sm-4">
        <div class="chart-wrapper" id="prediction-models">
          <div class="chart-title">
            <span>Prediction Models</span>
            <span class="memo"></span>
          </div>
          <div class="chart-stage">
            <ul class="prediction-models-list"></ul>
          </div>
          <div class="chart-notes">&nbsp;</div>
        </div>
        <div class="chart-wrapper" id="weather-forecasts">
          <div class="chart-title">
            <span>Weather Forecast</span>
            <span class="memo"></span>
          </div>
          <div class="chart-stage">
            <ul class="weather-forecast-list"></ul>
          </div>
          <div class="chart-notes">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            <span>Map</span>
            <span class="memo"></span>
          </div>
          <div class="chart-stage">
            <div id="flightpredict-map" style="height: calc(70vh - 60px);"></div>
          </div>
          <div class="chart-notes">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="tab-pane tab-pane-flightpredictform row active">
      <div class="col-sm-2"> </div>
      <div class="col-sm-8">
        <div class="chart-wrapper flight-info">
          <div class="chart-title">
            <span>Enter your flight information </span>
          </div>
          <div class="chart-stage" style="height: calc(70vh - 60px);">
            <div class="row">
              <form id="flightpredictform">
              <div class="col-sm-6 flight-one">
                <div class="form-title">
                  <span>Enter the date and the approximate time of the first leg of your trip.</span>
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-departure-one">Departure Airport</label>
                  <input id="flight-predict-departure-one" name="flight-predict-departure-one" class="col-sm-12" type="text" readonly disabled value="LAS">
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-date-one">Flight Date</label>
                  <input id="flight-predict-date-one" name="flight-predict-date-one" class="col-sm-12" type="date" placeholder="e.g., YYYY-MM-DD">
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-time-one">Approximate Flight Time</label>
                  <select id="flight-predict-time-one" name="flight-predict-time-one" class="col-sm-12" type="text">
                    <option value="0000">12:00am - 12:59am</option>
                    <option value="0100">1:00am - 1:59am</option>
                    <option value="0200">2:00am - 2:59am</option>
                    <option value="0300">3:00am - 3:59am</option>
                    <option value="0400">4:00am - 4:59am</option>
                    <option value="0500">5:00am - 5:59am</option>
                    <option value="0600">6:00am - 6:59am</option>
                    <option value="0700">7:00am - 7:59am</option>
                    <option value="0800">8:00am - 8:59am</option>
                    <option value="0900">9:00am - 9:59am</option>
                    <option value="1000">10:00am - 10:59am</option>
                    <option value="1100">11:00am - 11:59am</option>
                    <option value="1200">12:00pm - 12:59pm</option>
                    <option value="1300">1:00pm - 1:59pm</option>
                    <option value="1400">2:00pm - 2:59pm</option>
                    <option value="1500">3:00pm - 3:59pm</option>
                    <option value="1600">4:00pm - 4:59pm</option>
                    <option value="1700">5:00pm - 5:59pm</option>
                    <option value="1800">6:00pm - 6:59pm</option>
                    <option value="1900">7:00pm - 7:59pm</option>
                    <option value="2000">8:00pm - 8:59pm</option>
                    <option value="2100">9:00pm - 8:59pm</option>
                    <option value="2200">10:00pm - 10:59pm</option>
                    <option value="2300">11:00pm - 11:59pm</option>
                  </select>
                </div>
                <div class="pixiedust-formfield" style="text-align: right;">
                  <button class="btn btn-sm btn-search" data-flight-suffix="one">Search Flights</button>
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-select-one">Flight</label>
                  <select id="flight-predict-select-one" name="flight-predict-select-one" class="col-sm-12" type="text"></select>
                </div>
              </div>
              
              <div class="col-sm-6 flight-two">
                <div class="form-title">
                  <span>Enter the date and the approximate time of the second leg of your trip.</span>
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-departure-two">Departure Airport</label>
                  <input id="flight-predict-departure-two" name="flight-predict-departure-two" class="col-sm-12" type="text" readonly disabled>
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-date-two">Flight Date</label>
                  <input id="flight-predict-date-two" name="flight-predict-date-two" class="col-sm-12" type="date" placeholder="e.g., YYYY-MM-DD">
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-time-two">Approximate Flight Time</label>
                  <select id="flight-predict-time-two" name="flight-predict-time-two" class="col-sm-12" type="text">
                    <option value="0000">12:00am - 12:59am</option>
                    <option value="0100">1:00am - 1:59am</option>
                    <option value="0200">2:00am - 2:59am</option>
                    <option value="0300">3:00am - 3:59am</option>
                    <option value="0400">4:00am - 4:59am</option>
                    <option value="0500">5:00am - 5:59am</option>
                    <option value="0600">6:00am - 6:59am</option>
                    <option value="0700">7:00am - 7:59am</option>
                    <option value="0800">8:00am - 8:59am</option>
                    <option value="0900">9:00am - 9:59am</option>
                    <option value="1000">10:00am - 10:59am</option>
                    <option value="1100">11:00am - 11:59am</option>
                    <option value="1200">12:00pm - 12:59pm</option>
                    <option value="1300">1:00pm - 1:59pm</option>
                    <option value="1400">2:00pm - 2:59pm</option>
                    <option value="1500">3:00pm - 3:59pm</option>
                    <option value="1600">4:00pm - 4:59pm</option>
                    <option value="1700">5:00pm - 5:59pm</option>
                    <option value="1800">6:00pm - 6:59pm</option>
                    <option value="1900">7:00pm - 7:59pm</option>
                    <option value="2000">8:00pm - 8:59pm</option>
                    <option value="2100">9:00pm - 8:59pm</option>
                    <option value="2200">10:00pm - 10:59pm</option>
                    <option value="2300">11:00pm - 11:59pm</option>
                  </select>
                </div>
                <div class="pixiedust-formfield" style="text-align: right;">
                  <button class="btn btn-sm btn-search" data-flight-suffix="two">Search Flights</button>
                </div>
                <div class="pixiedust-formfield">
                  <label for="flight-predict-select-two">Flight</label>
                  <select id="flight-predict-select-two" name="flight-predict-select-two" class="col-sm-12" type="text"></select>
                </div>
              </div>
              </form>
            </div>
            <div class="row flight-predict-message"></div>
            <div class="row flight-predict-status-image">
            </div>
          </div>
          <div class="chart-notes">&nbsp;</div>
        </div>
      </div>
      <div class="col-sm-2"> </div>
    </div>
  </div>
{%endblock%}

{%block onCancel%}
  $('#results{{prefix}}').html('<p class="text-center">Flight Predict has been cancelled.</p>');
  $('#loading{{prefix}}').css('display','none');
{%endblock%}

{%block onOK%}
  $('#results{{prefix}}').html('<p class="text-center">Thank you for using Flight Predict. Have a safe flight!</p>');
  $('#loading{{prefix}}').css('display','none');
{%endblock%}

{%block onDialogShown%}
  window.Pixiedust = window.Pixiedust || {};
  window.Pixiedust.flightpredict = window.Pixiedust.flightpredict || {};
  var flightpredict = window.Pixiedust.flightpredict;

  var tdiag = $(this).find('.modal-dialog')
    .addClass('modal-dialog-flightpredictform');

  var pixiedustSpinner = $('<i class="fa fa-spinner fa-spin pixiedust-spinner"></i>')
    .prop('disabled', true)
    .css({display: 'none'});
  
  $('.pixiedust .modal-header button.close')
    .after(pixiedustSpinner);

  var restartBtn = $('.btn-restart', tdiag);
  var okBtn = $('.btn-ok', tdiag);
  var cancelBtn = $('.btn-cancel', tdiag);
  var searchBtn = $('.btn-search', tdiag);
  var predictSelectOne = $('#flight-predict-select-one', tdiag);
  var predictSelectTwo = $('#flight-predict-select-two', tdiag);
  var departureTwo = $('#flight-predict-departure-two', tdiag);
  var flightDateOne = $('#flight-predict-date-one', tdiag);
  var flightDateTwo = $('#flight-predict-date-two', tdiag);
  var messageNode = $('.flight-info .flight-predict-message', tdiag);

  var restartBtn = $('<button class="btn btn-sm btn-restart">StartOver</button>');
  var backBtn = $('<button class="btn btn-sm btn-back">Go to Notebook</button>');
  var nextBtn = $('<button class="btn btn-sm btn-next">Continue</button>');

  okBtn.before(backBtn);
  okBtn.after(nextBtn);
  okBtn.after(restartBtn);

  predictSelectOne.change(function(event){
    event.preventDefault();
    var selectedFlightOneDestAirportCode = $(this).val().split(":")[1];
    console.log("Selected Flight One dest airport ", selectedFlightOneDestAirportCode);
    departureTwo.val(selectedFlightOneDestAirportCode);
  });

  searchBtn.click(function(event) {
    event.preventDefault();
    event.stopPropagation();
    messageNode.empty();
    searchBtn.prop('disabled', true);
    nextBtn.prop('disabled', true);
    pixiedustSpinner.css({'display': 'inline-block'});

    var suffix = $(this).attr('data-flight-suffix');
    var depAirport = "LAS";

    predictSelectTwo.empty()

    if (suffix === 'two') {
      //Get the destination airport from first flight
      depAirport = predictSelectOne.val().split(":")[1]
    }
    else {
      predictSelectOne.empty();

      var currentdate = flightDateOne.datepicker('getDate');
      flightDateTwo.datepicker('option', 'minDate', currentdate);
      flightDateTwo.datepicker('setDate', currentdate);
    }
    var flightDate = $('#flight-predict-date-'+suffix, tdiag).val();
    var flightTime = $('#flight-predict-time-'+suffix, tdiag).val();

    var $$pixiedust_command = "from pixiedust_flightpredict.running.runModel import *" +
      "\nprint(runFlightSearch('" + flightDate + "', '" + flightTime + "', departureAirport='" + depAirport + "'))";

    //search for flights
    {% call(results) commons.ipython_execute("$$pixiedust_command", prefix) %}
      console.log({{results["error"] or results}});
      {%if results["error"]%}
        messageNode.text(JSON.stringify({{results}}));
      {%else%}
        {% if results != '' %}
          var jsonResults = JSON.parse({{results}});
          var flights = jsonResults.flights || [];
          if (flights.length > 0) {
            flightpredict.populateFlightOptions(flights, $('#flight-predict-select-'+suffix, tdiag));
          } else {
            messageNode.text('No flights found for that date and time. Try a different search.');
          }
        {% endif %}
      {%endif%}
        searchBtn.prop('disabled', false);
        nextBtn.prop('disabled', false);
        pixiedustSpinner.css({'display': 'none'});
    {% endcall %}
  });

  backBtn.click(function(event) {
    event.preventDefault();
    cancelBtn.click();
  });

  restartBtn.click(function(event) {
    event.preventDefault();

    $('.tab-pane.active').removeClass('active');
    $('.tab-pane-flightpredictform').addClass('active');
    tdiag
      .removeClass('modal-dialog-flightpredictdata')
      .addClass('modal-dialog-flightpredictform');

    flightpredict.resetForm();

    searchBtn.prop('disabled', false);
    nextBtn.prop('disabled', false);
    pixiedustSpinner.css({'display': 'none'});
  });

  var doRunModel = function(flightNum, flightDateTime, depAirport, callback) {
    messageNode.empty();
    searchBtn.prop('disabled', true);
    nextBtn.prop('disabled', true);
    pixiedustSpinner.css({'display': 'inline-block'});
    //var dt = new Date(+flightDateTime);
    //dt = dt.toISOString();
    //dt = dt.getFullYear() + '-' + (dt.getMonth()+1) + '-' + dt.getDate();

    var $$pixiedust_command = "from pixiedust_flightpredict.running.runModel import *" +
      "\nprint(runModel('" + flightNum + "', " + flightDateTime + ", departureAirport='" + depAirport + "'))";

    //Check the flights validatity
    {% call(results) commons.ipython_execute("$$pixiedust_command", prefix) %}
      console.log({{results["error"] or results}});
      {%if results["error"]%}
        messageNode.text(JSON.stringify({{results}}));
      {%elif results != '' %}
        var jsonResults = JSON.parse({{results}});
        var flightInfo = null;

        if (jsonResults.flightInfo && jsonResults.flightInfo) {
          flightInfo = jsonResults.flightInfo;
        }

        if (callback) {
          callback(flightInfo ? jsonResults : null);
        }
      {%endif%}

      searchBtn.prop('disabled', false);
      nextBtn.prop('disabled', false);
      pixiedustSpinner.css({'display': 'none'});
    {% endcall %};
  };

  nextBtn.click(function(event) {
    event.preventDefault();

    var flightDate = flightDateOne.val();
    var flightNum = null;
    var flightTime = null;
    var errorMessage = null;

    if (!flightDate) {
      errorMessage = 'Missing flight date';
    }
    else {
      flightTime = $('#flight-predict-time-one', tdiag).val();
      if (!flightTime) {
        errorMessage = 'Missing flight time';
      }
      else {
        flightNum = predictSelectOne.val();
        if (!flightNum) {
            errorMessage = 'Missing flight number';
        }
        else {
          flightNum = flightNum.split(":")[0];
          flightDate = predictSelectOne.val().split(":")[3];
        }
      }
    }

    if (errorMessage) {
      messageNode.text(errorMessage);
    }
    else {
      var suffix = $(this).attr('data-flight-suffix');
      var depAirport = "LAS";
      
      var flightOneInfo = null;

      doRunModel(flightNum, flightDate, depAirport, function(jsonResultsOne) {
        flightOneInfo = jsonResultsOne;

        var flightNum2 = predictSelectTwo.val();
        if (flightNum2) {
          flightNum2 = flightNum2.split(":")[0];
          var flightDate2 = predictSelectTwo.val().split(":")[3];
          //Get the destination airport from first flight
          var depAirport2 = predictSelectOne.val().split(":")[1];

          doRunModel(flightNum2, flightDate2, depAirport2, function(jsonResultsTwo) {
            switchToMap(flightOneInfo, jsonResultsTwo);
          });
        }
        else {
          switchToMap(flightOneInfo);
        }
      });
    }
  });

  var switchToMap = function(flightone, flighttwo) {
    $('.tab-pane.active').removeClass('active');
    $('.tab-pane-flightpredictdata').addClass('active');

    tdiag
      .removeClass('modal-dialog-flightpredictform')
      .addClass('modal-dialog-flightpredictdata');

    if (flightone) {
      flightpredict.renderWeatherForecast(flightone, true);
      flightpredict.renderPredictionModels(flightone, true);
      flightpredict.renderFlightMap(flightone);
    }
    if (flighttwo) {
      flightpredict.renderWeatherForecast(flighttwo);
      flightpredict.renderPredictionModels(flighttwo);
      flightpredict.renderFlightMap(flighttwo);
    }
  }

  $('.chart-wrapper.flight-info .search').click(function() {
    $(this).parent().parent().toggleClass('search-flight');
  });

  flightDateOne.datepicker({
    dateFormat: 'yy-mm-dd',
    constrainInput: true,
    minDate: new Date(),
    maxDate: '+1m',
    defaultDate: '+1d',
    gotoCurrent: true
  });

  flightDateTwo.datepicker({
    dateFormat: 'yy-mm-dd',
    constrainInput: true,
    minDate: new Date(),
    maxDate: '+1m',
    defaultDate: '+1d',
    gotoCurrent: true
  });

  flightpredict.resetForm();

  pixiedustSpinner.before('<a class="note" target="_blank" href="https://github.com/ibm-cds-labs/simple-data-pipe-connector-flightstats">Fork me on GitHub</a>');
{%endblock%}

{%block onDialogHide%}
  
{%endblock%}

{%block cellOuputHTML%}
  <div id="loading{{prefix}}" style="display:none">
    <div style="width:100px;height:60px;left:47%;position:relative">
        <i class="fa fa-circle-o-notch fa-spin" style="font-size:48px"></i>
    </div>
    <div style="text-align:center">Generating the notebook cells for the demo. Please wait...</div>
  </div>
  <div id="results{{prefix}}"></div>
{%endblock%}
